!.mvn/wrapper/maven-wrapper.jar

### Projects ###
/places-api/target/**

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
target
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml
nbactions*
                           
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

properties.yml
pom.xml.versionsBackup
